<div class="container">
  <div>
    <h1>Costumes</h1>
    <p>View our full range of fancy finery for your fabulous fur baby...</p>
  </div>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
  </style>

  <div class="card-trip row row-cols-1 row-cols-md-3 g-4 h-200 shadow p-3 mb-5 bg-body rounded">
    <% @costumes.each do |costume| %>
      <div class="col-md-3">
        <div class="card h-100">
          <%= link_to costume_path(costume) do %>
            <%= cl_image_tag costume.photo.key, class: 'card-img-top'%>
          <% end %>
          <div class="card-body d-flex flex-column" style="justify-content: space-between">
            <h2 class="card-title"><%= costume.product_name %></h2>
              <p class="card-text">
                <%= costume.pet_type%>
                <br>£<%= costume.price%>
              </p>
            <a href="#" class="homepage-btn">info</a>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
