<h1>Costumes</h1>
<p>View our full range of fancy finery for your fabulous fur baby...</p>
<ul>
<% @costumes.each do |costume| %>
<li><%= costume.product_name%> | <%= link_to "Edit", edit_costume_path(costume) %></li>
<% end %>
</ul>

<%= link_to "List a new costume", new_costume_path %> |
<%= link_to "Manage my costumes", my_costumes_costumes_path %> |
<%= link_to "See my bookings", bookings_index_path %>
