<div class="container">
	<h1>My costumes!</h1>

	<p>Here you can see all of your costumes and the upcoming bookings for them!</p>

		<%= link_to "List a new costume", new_costume_path %>

	<div class="row row-cols-1 row-cols-md-3 g-4 h-200 shadow p-3 mb-5 bg-body rounded">
		<% @costumes.each do |costume| %>
			<% if costume.user_id == current_user.id  %>
			<% end %>
			<div class="col-md-3">
				<div class="card h-100">
						<%= cl_image_tag costume.photo.key, class: 'card-img-top'%>
					<div class="card-body d-flex flex-column" style="justify-content: space-between;">
						<h1 class="card-title"><%= costume.product_name %></h1>
							<p class="card-text">
								<%= link_to "Edit", edit_costume_path(costume) %> | <%= link_to "Delete", costume_path(costume), data:{turbo_method: "delete", confirm: "Are you sure?"} %>
							</p>
						<%= link_to "Info", costume_path(costume), class: "homepage-btn" %>
					</div>
				</div>
			</div>
		<%end%>
	</div>


	<div>
		<h2>Bookings for my costumes</h2>

		<div class="row row-cols-1 row-cols-md-3 g-4 h-200 shadow p-3 mb-5 bg-body rounded">
			<% @bookings.each do |booking| %>
				<% if booking.costume.user_id == current_user.id  %>
				<div class="col-md-3">
					<div class="card h-100">
						<%= cl_image_tag booking.costume.photo.key, class: 'card-img-top'%>
						<div class="card-body d-flex flex-column" style="justify-content: 			space-between;">
							<h1 class="card-title"><%= booking.costume.product_name %></h1>
								<p class="card-text">
									<%= link_to booking.costume.product_name, costume_path(booking.costume) %> | <%= booking.start_date %> to <%= booking.end_date %> | Booked by <%= booking.user.first_name %> |  Message: "<%= booking.message %>
								</p>
						</div>
					</div>
				</div>
				<% end %>
			<% end %>
		</div>
		<%= link_to "Back to all costumes", costumes_path %>
</div>
