<h1>My costumes!</h1>

<p>Here you can see all of your costumes and the upcoming bookings for them!</p>

<div>
  <h2>My listed costumes</h2>
  <ul>
  <% @costumes.each do |costume| %>
    <% if costume.user_id == current_user.id  %>
      <li><%= link_to costume.product_name, costume_path(costume)  %> | <%= link_to "Delete", costume_path(costume), data:{turbo_method: "delete"} %></li>
    <% end %>
  <% end %>
  </ul>

  <%= link_to "List a new costume", new_costume_path %>
</div>

<div>
  <h2>Bookings for my costumes</h2>
  <ul>
    <% @bookings.each do |booking| %>
      <% if booking.costume.user_id == current_user.id  %>
          <li><%= link_to booking.costume.product_name, costume_path(booking.costume) %> | <%= booking.start_date %> to <%= booking.end_date %> | Booked by <%= booking.user.first_name %></li>
      <% end %>
    <% end %>
  </ul>
</div>
<%= link_to "Back to all costumes", costumes_path %>
