<h1>Add a new cossy</h1>
<p>List a lil costume for widdle pets...</p>

<%= simple_form_for @costume do |f| %>
  <%= f.input :product_name %>
  <%= f.input :img %>
  <%= f.input :details %>
  <%= f.input :price %>
  <%= f.input :pet_type, collection: %w[cat bird dog reptile] %>
  <%= f.submit %>
<% end %>
