<h1 class="header-one">Add A New Cossy</h1>

<div class="new-container">


<div>
<%= simple_form_for @costume do |f| %>
<h2 class="form-title">list a new costume</h2>
  <%= f.input :product_name %>
  <%= f.input :photo, as: :file %>
  <%= f.input :details %>
  <%= f.input :price %>
  <%= f.input :pet_type, collection: ["cat", "bird", "dog", "reptile", "small mammal"] %>
  <%= f.submit 'Add Costume', class: 'button', id:'form-submit-btn' %>

<% end %>
</div>
</div>
