<div class= "costume-title">
  <h1><%= @costume.product_name %></h1>
</div>

<div class= "costume-img">
  <%= cl_image_tag @costume.photo.key %>
</div>



<div class= "extra-info">
  <p>Price: <%= @costume.price %></p>
  <p>For your lil <%= @costume.pet_type %></p>
<h3>More info</h3>
<p><%= @costume.details %></p>


<div id="booking-box" class= "booking-form">
  <h2>Book this sweet costume!</h2>
  <%= simple_form_for [@costume, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :message%>
    <%= f.submit :message%>
  <% end %>
</div>

<%= link_to "Back to all costumes", costumes_path %>
