
<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex flex-column align-items-center">
      <div class= "costume-title" style="align-self:start;">
        <h1><%= @costume.product_name %> </h1> <p class="details"> <%= @costume.details %></p>

      </div>

      <div class= "costume-img">
        <%= cl_image_tag @costume.photo.key %>
      </div>


        <h4 class= "price ">£ <%= '%.2f' % @costume.price %></h4>
        <p class="description"> For your gorgeous <%= @costume.pet_type %> <p>
      </div>

    <div class="col-sm-6 d-flex flex-column align-items-center">
      <div id="booking-box" class= "booking-form">
        <h2>Book this sweet costume</h2>
        <%= simple_form_for [@costume, @booking] do |f| %>
          <%= f.input :start_date, as: :date, html5: true %>
          <%= f.input :end_date, as: :date, html5: true %>
          <%= f.input :message%>
          <%= f.submit :Book, class: 'btn homepage-btn'%>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= link_to "Back to all costumes", costumes_path %>
