
<div class="container">
      <div class= "costume-title" style="align-self:start;">
        <h1><%= @costume.product_name %> </h1>
      </div>
  <div class="row mb-4">
    <div class="col-sm-6 d-flex flex-column align-items-center">

      <div class= "costume-img">
        <%= cl_image_tag @costume.photo.key %>
      </div>
      <div class="card-info">
        <div>
          <p class="description"> For your gorgeous <%= @costume.pet_type %><p>
          <p class="details"> <%= @costume.details %></p>
        </div>
        <h4 class= "price "> £ <%= @costume.price %></h4>
      </div>
    </div>

    <div class="col-sm-6 d-flex flex-column align-items-center">
      <div id="booking-box" class= "booking-form">
        <h2>Book this sweet costume</h2>
        <%= simple_form_for [@costume, @booking] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.input :message%>
          <%= f.submit :message, class: 'btn homepage-btn'%>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= link_to "Back to all costumes", costumes_path %>
