<h1>Bookings</h1>
<p>See the bookings you've made!</p>

<div class="row">
  <% @bookings.each do |booking| %>
    <% if booking.user_id == current_user.id  %>
      <div class="booking-card col-4">
        <div class="booking-card-img">
          <%= link_to cl_image_tag(booking.costume.photo.key, gravity: :face, crop: :fill), costume_path(booking.costume) %>
        </div>
        <div class="booking-card-info">
              <h2><%= link_to booking.costume.product_name, costume_path(booking.costume), class: "booking-link" %></h2>
              <p><%= booking.start_date %> to <%= booking.end_date %>
              <%= link_to booking_path(booking), data:{turbo_method: "delete", turbo_confirm: "Are you sure?"} do %>
               <i class="fa-solid fa-trash"></i>
               <% end %>
              </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= link_to "Back to all costumes", costumes_path, class: "button" %>
