<!DOCTYPE html>
<html>
  <head>
    <title>Fancy Fur Babies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <div class="home-container">

      <div class="navbar navbar-expand-sm navbar-light navbar-FFB d-flex" style="align-contents: center">
        <div class="container-fluid", style="margin-right: 10px">
          <%= link_to costumes_path, class: "navbar-brand" do %>
            <%= image_tag "Logo-FFB.png" %>
          <% end %>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <strong><%= link_to "All costumes", costumes_path, class: "nav-link nav-btn" %></strong>
              </li>
              <% if user_signed_in? %>
                <li class="nav-item dropdown">
                  <%= image_tag "Hamburger-FFB.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <%= link_to "Manage My Costumes", my_costumes_costumes_path, class: "dropdown-item"%>
                    <%= link_to "Manage My Bookings", bookings_index_path, class: "dropdown-item" %>
                    <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
                    <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
                  </div>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "Login", new_user_session_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div id="space-below-navbar">
      </div>
      <%= yield %>
      <div class="footer">
        <div class="footer-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="footer">
          This footer is made with <i class="fas fa-heart"></i> by Mind Mission
        </div>
      </div>
    </div>
  </body>
</html>
